* { margin: 0; padding: 0; list-style: none; }

body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background: #fff url(../images/fundo.png) repeat-x;
}

#container {
  width: 750px;
  margin: 0 auto;
}

#topo {
  background: url(../images/detalhe-topo.png) no-repeat right top;
  padding-top: 25px;
  height: 150px;
}

.logo {
  background: url(../images/logo.png) no-repeat center;
  width: 152px;
  height: 66px;
  text-indent: -3000px; /* Esconde o texto do h1, jogando ele pro lado*/
}

/* Barra de navegação*/
a:link, a:visited {
  color: #b10333;
  padding: 2px;
}

a:hover {
  color: #e50040;
}

#topo ul {
  background: #b10333;
  margin-top: 30px;
  float: left;
}

#topo ul li { float: left; }
#topo ul a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 0.5em 1.2em;
  line-height: 2.1em;
  font-size: 0.9em;
  background: url(../images/divisor.png) repeat-y left top;
}

#topo li:first-of-type a { background: none; }
#topo ul a:hover {
  color: #69001d;
}

body.home #topo a#home,
body.brasil #topo a#brasil,
body.internacional #topo a#internacional,
body.fotos #topo a#fotos {
  color: #fff;
  background-color: #de003e;
  cursor: text;
}

/* Conteúdo */
#conteudo {
  background: #f5f5f5;
  margin-top: 60px;
}

#lateral {
  width: 180px;
  float: left;
  margin: 0 0 20px -750px;
}

#primario {
  width: 270px;
  float: left;
  margin: 0 0 20px 195px;
}

#duas-colunas #primario { width: 555px; }
#uma-coluna #primario {
  width: 750px;
  margin: 0 0 20px 0;
}

#secundario {
  width: 270px;
  float: left;
  margin: 0 0 20px 15px;
}
/* Caixa */
.caixa {
  background: #f3f3f3 url(../images/fundo-caixa.png);
  padding: 5px;
  margin: 10px 0;
}

h2 {
  background: #294c71;
  font-size: 1em;
  color: #fff;
  padding: 5px;
}

.caixa-conteudo {
  background: #fff;
  margin-top: 5px;
  padding: 5px;
}

/* Entrevistados - Lateral */
#lateral ul a {
  display: block;
  color: #000;
  padding: 3px;
  font-size: 0.9em;
  line-height: 30px;
  text-decoration: none;
  border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
  background: #f9f9f9 url(../images/marcador.png) no-repeat left center;
  color: #a1a1a1;
  padding-left: 20px;
}
/* News - Lateral */
label {
  display: block;
  cursor: pointer;
}

input {
  background: #fff;
  font-size: 0.9;
  padding: 5px;
  width: 125px;
}
/*
input[type="submit"] {
  background: #b10333;
  border: 2px solid #870529;
  color: #fff;
  padding: 5px;
  width: 80px;
}
*/
input.submit{
  background: #b10333;
  border: 2px solid #870529;
  color: #fff;
  padding: 5px;
  width: 80px;
}
/* Imagens */
img.imagem-principal {
  border: 3px solid #dfdfdf;
  width: 98%;
}
/* Cabeçalhos */
h3 {
  text-transform: uppercase;
  display: inline;
  font-size: 0.8em;
  padding: 3px;
}

.destaque h3 {
  background: #b10333;
  color: #fff;
}

.entrevista h3 {
  background: #de003e;
  color: #fff;
}
/* Lista de Notícias */
#lista-noticias li {
  border-bottom: 1px solid #ccc;
  padding: 2px;
  height: 62px;
}

#lista-noticias li a img {
  float: left;
  margin: 5px;
}

#lista-noticias li a { text-decoration: none; }
#lista-noticias li a h3 {
  font-size: 0.8em;
  padding: 0;
  color: #3e7ab9;
}

#lista-noticias li a p { font-size: 0.7em; color: #000; }
#lista-noticias li:hover {
  background: #eee;
  cursor: pointer;
}

/* Rodape */
footer {
  background: #294c71;
  padding: 20px;
  clear: both;
}

#rodape div {
  margin: 0 auto;
  color: #fff;
  width: 750px;
}